#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;

  background-color: var(--bg-dark);
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;

  background-color: var(--bg);
  box-shadow: 0px 4px 4px #00000030, 0px 12px 12px #00000015;

  a {
    display: flex;
  }

  .logo {
    height: 72px;
    width: auto;
  }

  form {
    display: flex;
    gap: 10px;
  }
}

.controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;

  a {
    display: flex;
  }

  svg {
    color: var(--primary);
  }
}

main {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 100%; */
  /* min-height: 100vh; */
  /* min-height: 100%; */
  /* padding: 20px; */

  /* background-color: oklch(90% 0.05 220); */

  h1 {
    /* color: oklch(98% 0 0); */
    padding: 20px;
  }
}

.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  text-wrap: balance;

  width: 100%;
  border-radius: 8px;
  /* border: var(--border) solid 1px; */
  border: var(--border-muted) solid 1px;
  background-color: var(--bg);
}

.card img {
  /* max-width: 300px; */
  max-width: 100%;
  height: auto;
  object-fit: contain;
  padding: 10px;
}

.card-text {
  padding: 0 10px;
}

/* TODO: update styles for cart controls */
.card-controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* align-items: center; */
  gap: 10px;
  padding: 20px;

  /* background-color: brown; */
}

.card-controls > .qty-controls {
  font-size: 20px;
  font-weight: 500;

  button {
    padding: 0;
    /* padding-bottom: 4px; */
  }

  input {
    padding-top: 2px;
  }
}

.qty-controls,
.add-to-cart {
  /* flex: 1 1 150px; */
  /* flex: 1; */
  /* min-width: 150px; */
  width: 150px;
  height: 45px;
}

.add-to-cart {
  padding: 0;
  font-size: 20px;
  /* font-weight: 600; */
  white-space: nowrap;
}

.qty-controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* align-items: center; */
  /* gap: 10px; */

  button {
    width: 50px;
  }

  button:first-child {
    border-radius: 8px 0 0 8px;
  }

  button:last-child {
    border-radius: 0 8px 8px 0;
  }

  input {
    display: flex;
    width: 50px;
    /* height: 42px; */
    text-align: center;
    border-radius: 0;
    /* border-inline: none; */
    border: var(--primary) solid 1px;
  }

  /* Hide number input spinners in Chrome, Safari, Edge, Opera */
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Hide number input spinners in Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
  }
}

@media (max-width: 1400px) {
  .card-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1000px) {
  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .card-container {
    grid-template-columns: 1fr;
  }
}
