#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* gap: 20px; */
  width: 100%;

  background-color: rgb(42, 67, 68);
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;

  background-color: brown;
}

header form {
  display: flex;
  gap: 10px;
}

.controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

main {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* width: 100%; */
  /* min-height: 100vh; */
  /* padding: 20px; */

  /* background-color: oklch(90% 0.05 220); */
}

main h1 {
  color: oklch(98% 0 0);
  padding: 10px;
}

.card-container {
  /* display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px; */
}

.card-container {
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); */
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  text-wrap: balance;

  /* min-width: 250px; */
  /* max-width: 450px; */
  width: 100%;
  /* min-height: 415px; */
  /* padding: 1rem; */
  border-radius: 8px;
  background-color: gray;
}

.card img {
  /* max-width: 300px; */
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.card-text {
  padding: 1rem;
}

/* Responsive breakpoints */
@media (max-width: 1400px) {
  .card-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1000px) {
  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .card-container {
    grid-template-columns: 1fr;
  }
}
