.cart-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  padding: 20px;
  margin: 20px 0 20px;

  width: 100%;
}

.main-description {
  padding: 0 20px;
  text-align: center;
  color: var(--text-muted);
}

.cart-items {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  flex: 1;
  max-width: 900px;

  border-radius: 8px;
  border: var(--border) solid 1px;
  background-color: var(--bg);
}

.cart-item {
  display: flex;
  gap: 10px;
  width: 100%;
  min-width: min(300px, 100%);
  padding: 20px;
  border-bottom: 1px solid var(--border);

  &:last-child {
    border-bottom: none;
  }

  .cart-item-details > p {
    color: var(--text-muted);
  }

  img {
    max-width: 100px;
    height: auto;
    object-fit: contain;
  }

  .cart-item-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;

    .cart-item-total {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      gap: 10px;
      margin-top: 10px;

      h4 {
        white-space: nowrap;
      }

      .qty-controls {
        width: 120px;
        height: 28px;

        button {
          padding: 0;
          padding-bottom: 1px;
        }

        button,
        input {
          width: 40px;
        }
      }
    }
  }
}

.summary {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;

  padding: 20px;
  border-radius: 8px;
  border: var(--border) solid 1px;
  background-color: var(--bg);

  hr {
    margin: 10px 0;
  }

  .subtotal,
  .shipping,
  .total {
    display: flex;
    justify-content: space-between;
  }

  .total {
    font-size: 1.2em;
  }

  button {
    margin-top: 10px;
  }
}

@media (max-width: 750px) {
  .cart-container {
    flex-direction: column;
    align-items: center;

    .cart-items {
      width: 100%;
    }
  }
}

@media (max-width: 500px) {
  .cart-items,
  .cart-item,
  .summary {
    padding: 10px;
  }

  .cart-item {
    img {
      max-width: 80px;
    }
  }

  .summary {
    width: 100%;
  }
}
