.cart-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 20px;
  padding: 20px;
  margin: 20px 0 20px;
}

.cart-items {
  display: flex;
  flex-direction: column;
  padding: 0 20px;

  border-radius: 8px;
  border: var(--border) solid 1px;
  background-color: var(--bg);
}

.cart-item {
  display: flex;
  gap: 10px;
  min-width: 600px;
  padding: 20px;
  border-bottom: 1px solid var(--border);

  &:last-child {
    border-bottom: none;
  }

  .cart-item-details > p {
    color: var(--text-muted);
  }

  img {
    /* width: 180px; */
    max-width: 100px;
    height: auto;
    /* object-fit: cover; */
    object-fit: contain;
  }

  .cart-item-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* gap: 10px; */
    width: 100%;

    .cart-item-total {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-top: 10px;

      .qty-controls {
        width: 120px;
        height: 28px;
        /* background-color: brown; */

        button {
          padding: 0;
          padding-bottom: 1px;
        }

        button,
        input {
          width: 40px;
        }
      }
    }
  }
}

.summary {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;

  padding: 20px;
  border-radius: 8px;
  border: var(--border) solid 1px;
  /* background-color: rgb(32, 46, 88); */
  background-color: var(--bg);

  hr {
    margin: 10px 0;
  }

  .subtotal,
  .shipping,
  .total {
    display: flex;
    justify-content: space-between;
    /* margin: 10px 0; */
  }

  .total {
    font-size: 1.2em;
    /* margin-top: 10px; */
  }

  button {
    margin-top: 10px;
  }
}
