.hero-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 20px;

  .hero-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    h1 {
      font-family: Orbitron, sans-serif;
      font-size: 3em;
      padding: 0;
    }

    p {
      text-align: center;
      text-wrap: balance;
      font-size: 1.25em;
      font-weight: 500;
      color: var(--text-muted);
    }

    button {
      /* TODO: style the button */
      /* color: rebeccapurple; */
    }
  }

  img {
    width: 100%;
    max-width: 40%;
    height: auto;
    max-height: 500px;
    object-fit: contain;
  }
}

/* Only center main when it contains hero-container */
main:has(.hero-container) {
  justify-content: center;
}

@media (max-width: 750px) {
  .hero-container {
    flex-direction: column;
    text-align: center;

    img {
      max-width: 60%;
      margin-top: 10px;
    }

    .hero-text h1 {
      font-size: 2.25em;
    }
  }
}
